In [69]:
import string
import re
import nltk
nltk.download('stopwords')
nltk.download('punkt')
import numpy as np
import tensorflow as tf
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lemur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lemur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [70]:
def distribution_plot(df,column):
    plt.title('Distribution of ' )
    sns.distplot(df[column])
    plt.show()
    return

## DATASET EXPLORATION

In [71]:
pd.set_option('float_format', '{:f}'.format)

answers_df = pd.read_csv("data/Answers.csv", encoding='latin-1')
answers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            987122 non-null  int64
 1   OwnerUserId   981755 non-null  float64
 2   CreationDate  987122 non-null  object
 3   ParentId      987122 non-null  int64
 4   Score         987122 non-null  int64
 5   Body          987122 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 45.2+ MB

In [72]:
answers_df.isna().sum()

Id                 0
OwnerUserId     5367
CreationDate       0
ParentId           0
Score              0
Body               0
dtype: int64

In [73]:
answers_df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.000000,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.000000,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.000000,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.000000,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.000000,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [74]:
answers_df.describe()

                   Id    OwnerUserId        ParentId         Score
count   987122.000000  981755.000000   987122.000000 987122.000000
mean  21607440.957471 1589642.499920 20534960.850753      3.028437
std   11794878.874466 1649345.831621 11954864.488041     21.263246
min        497.000000       1.000000      469.000000    -38.000000
25%   11447745.500000  260303.000000  9968532.000000      0.000000
50%   22541876.500000  963465.000000 21035504.000000      1.000000
75%   32054689.000000 2433809.500000 31152330.250000      3.000000
max   40143370.000000 7044747.000000 40143190.000000   8384.000000

In [75]:
answers_df.shape

(987122, 6)

In [76]:
questions_df = pd.read_csv("data/Answers.csv", encoding='latin-1')
questions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            987122 non-null  int64
 1   OwnerUserId   981755 non-null  float64
 2   CreationDate  987122 non-null  object
 3   ParentId      987122 non-null  int64
 4   Score         987122 non-null  int64
 5   Body          987122 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 45.2+ MB

In [77]:
questions_df.isna().sum()

Id                 0
OwnerUserId     5367
CreationDate       0
ParentId           0
Score              0
Body               0
dtype: int64

In [78]:
questions_df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.000000,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.000000,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.000000,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.000000,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.000000,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [79]:
questions_df.describe()

                   Id    OwnerUserId        ParentId         Score
count   987122.000000  981755.000000   987122.000000 987122.000000
mean  21607440.957471 1589642.499920 20534960.850753      3.028437
std   11794878.874466 1649345.831621 11954864.488041     21.263246
min        497.000000       1.000000      469.000000    -38.000000
25%   11447745.500000  260303.000000  9968532.000000      0.000000
50%   22541876.500000  963465.000000 21035504.000000      1.000000
75%   32054689.000000 2433809.500000 31152330.250000      3.000000
max   40143370.000000 7044747.000000 40143190.000000   8384.000000

In [80]:
questions_df.shape

(987122, 6)

In [81]:
tags_df = pd.read_csv("data/Tags.csv", encoding='latin-1')
tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885078 entries, 0 to 1885077
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Tag     object
dtypes: int64(1), object(1)
memory usage: 28.8+ MB

In [82]:
tags_df.isna().sum()

Id       0
Tag    443
dtype: int64

In [83]:
tags_df.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

In [84]:
tags_df.describe()

                   Id
count  1885078.000000
mean  23917947.228089
std   11214914.197417
min        469.000000
25%   15187529.250000
50%   25597469.500000
75%   33728831.000000
max   40143365.000000

In [85]:
tags_df.shape

(1885078, 2)